[maxscale]
threads=4
admin_enabled=true

[shard1]
type=server
address=shard1
port=3306
protocol=MariaDBBackend

[shard2]
type=server
address=shard2
port=3306
protocol=MariaDBBackend

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers=shard1,shard2
user=maxuser
password=password
monitor_interval=2000ms

[Sharded-Service]
type=service
router=schemarouter
servers=shard1,shard2
user=maxuser
password=password

[Sharded-Service-Listener]
type=listener
service=Sharded-Service
protocol=MariaDBClient
port=4000
address=0.0.0.0
